# Cleaning US Crimes Dataset

In [1]:
#importing pandas library
import pandas as pd

In [2]:
# Read your dataset into a DataFrame (assuming it's a CSV file for this example)
df = pd.read_csv('Crime_us.csv')

In [3]:
#dropping all the rows which has any column value blank
df_cleaned = df.dropna()

In [4]:
#showing columns of cleaned dataset
df_cleaned.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [5]:
# Displaying concise information about the cleaned DataFrame
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 218499 entries, 0 to 220551
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    218499 non-null  int64
 1   Case Number           218499 non-null  object
 2   Date                  218499 non-null  object
 3   Block                 218499 non-null  object
 4   IUCR                  218499 non-null  object
 5   Primary Type          218499 non-null  object
 6   Description           218499 non-null  object
 7   Location Description  218499 non-null  object
 8   Arrest                218499 non-null  bool
 9   Domestic              218499 non-null  bool
 10  Beat                  218499 non-null  int64
 11  District              218499 non-null  float64
 12  Ward                  218499 non-null  float64
 13  Community Area        218499 non-null  int64
 14  FBI Code              218499 non-null  object
 15  X Coordinate          218499 non-null  float64
 16  Y Coordinate          218499 non-null  float64
 17  Year                  218499 non-null  int64
 18  Updated On            218499 non-null  object
 19  Latitude              218499 non-null  float64
 20  Longitude             218499 non-null  float64
 21  Location              218499 non-null  object
dtypes: bool(2), float64(6), int64(4), object(10)
memory usage: 35.4+ MB

In [19]:
# Convert the 'Date' column in the DataFrame 'df_cleaned' to datetime format,
# using the specified date format. Make sure to replace 'mixed' with the actual
# format string that matches the date format in the 'Date' column.

df_cleaned['Date']=pd.to_datetime(df_cleaned['Date'],format='mixed')

In [20]:
# Convert the 'Updated On' column in the DataFrame df_cleaned to datetime format using the specified 'mixed' format.
# This ensures that the values in the 'Updated On' column are treated as datetime objects for further analysis and manipulation.

df_cleaned['Updated On']=pd.to_datetime(df_cleaned['Updated On'],format='mixed')

In [21]:
# Convert the 'FBI Code' column in the DataFrame df_cleaned to string type, ensuring uniform data type for further analysis or operations.

df_cleaned['FBI Code'] = df_cleaned['FBI Code'].astype(str)

In [22]:
# Create a new column 'MonthName' in the DataFrame 'df_cleaned' by extracting the month names from the 'Date' column

df_cleaned['MonthName'] = df_cleaned['Date'].dt.strftime('%B')

In [23]:
# Displaying the first few rows of the cleaned DataFrame for a quick overview

df_cleaned.head()

,ID,Case Number,Date,MonthName,WeekNumber,Block,IUCR,Primary Type,Description,Location Description,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12789250,JF351068,2022-01-01,January,52,079XX S ST LAWRENCE AVE,810,THEFT,OVER $500,RESIDENCE,...,6.0,44,6,1181612.0,1852489.0,2022,2022-11-12 15:46:00,41.750462,-87.610059,"(41.75046233, -87.610058986)"
1,12783300,JF343908,2022-01-01,January,52,007XX N MICHIGAN AVE,580,STALKING,SIMPLE,STREET,...,42.0,8,08A,1177293.0,1905597.0,2022,2022-11-12 15:46:00,41.896294,-87.624280,"(41.896293625, -87.624279611)"
2,12814497,JF380963,2022-01-01,January,52,047XX W WABANSIA AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE - GARAGE,...,37.0,25,17,1144610.0,1910885.0,2022,2022-11-12 15:46:00,41.911483,-87.744185,"(41.911482929, -87.744185282)"
3,12822046,JF389504,2022-01-01,January,52,039XX N PINE GROVE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,...,46.0,6,11,1170694.0,1926410.0,2022,2022-11-12 15:46:00,41.953553,-87.647905,"(41.953552585, -87.647905229)"
4,12836994,JF403613,2022-01-01,January,52,042XX W WASHINGTON BLVD,1750,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,RESIDENCE,...,28.0,26,08B,1148076.0,1900155.0,2022,2022-11-12 15:46:00,41.881973,-87.731729,"(41.881972634, -87.731728591)"

In [24]:
# Create a new column 'WeekNumber' in the DataFrame 'df_cleaned' by extracting the ISO week number from the 'Date' column.
# This utilizes the 'isocalendar()' function to obtain the week number for each date in the 'Date' column.

df_cleaned['WeekNumber'] = df_cleaned['Date'].dt.isocalendar().week

In [25]:
# Displaying the first few rows of the cleaned DataFrame for a quick overview

df_cleaned.head(3)

,ID,Case Number,Date,MonthName,WeekNumber,Block,IUCR,Primary Type,Description,Location Description,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12789250,JF351068,2022-01-01,January,52,079XX S ST LAWRENCE AVE,810,THEFT,OVER $500,RESIDENCE,...,6.0,44,6,1181612.0,1852489.0,2022,2022-11-12 15:46:00,41.750462,-87.610059,"(41.75046233, -87.610058986)"
1,12783300,JF343908,2022-01-01,January,52,007XX N MICHIGAN AVE,580,STALKING,SIMPLE,STREET,...,42.0,8,08A,1177293.0,1905597.0,2022,2022-11-12 15:46:00,41.896294,-87.624280,"(41.896293625, -87.624279611)"
2,12814497,JF380963,2022-01-01,January,52,047XX W WABANSIA AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE - GARAGE,...,37.0,25,17,1144610.0,1910885.0,2022,2022-11-12 15:46:00,41.911483,-87.744185,"(41.911482929, -87.744185282)"

In [26]:
# Rearranging the columns
df_cleaned = df_cleaned[['ID', 'Case Number', 'Date','MonthName', 'WeekNumber', 'Block', 'IUCR', 'Primary Type', 'Description', 'Location Description',
                         'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
                         'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude', 'Location']]

# Display the updated DataFrame
df_cleaned.head(3)

,ID,Case Number,Date,MonthName,WeekNumber,Block,IUCR,Primary Type,Description,Location Description,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12789250,JF351068,2022-01-01,January,52,079XX S ST LAWRENCE AVE,810,THEFT,OVER $500,RESIDENCE,...,6.0,44,6,1181612.0,1852489.0,2022,2022-11-12 15:46:00,41.750462,-87.610059,"(41.75046233, -87.610058986)"
1,12783300,JF343908,2022-01-01,January,52,007XX N MICHIGAN AVE,580,STALKING,SIMPLE,STREET,...,42.0,8,08A,1177293.0,1905597.0,2022,2022-11-12 15:46:00,41.896294,-87.624280,"(41.896293625, -87.624279611)"
2,12814497,JF380963,2022-01-01,January,52,047XX W WABANSIA AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE - GARAGE,...,37.0,25,17,1144610.0,1910885.0,2022,2022-11-12 15:46:00,41.911483,-87.744185,"(41.911482929, -87.744185282)"

In [27]:
df=df_cleaned

In [28]:
df.columns

Index(['ID', 'Case Number', 'Date', 'MonthName', 'WeekNumber', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [29]:
columns=[ 'MonthName', 'WeekNumber', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'District', 'Ward', 'Community Area', 'FBI Code',
       'Year']
for column in columns:
    df[column].unique()

In [30]:
##This query returns all unique values of all columns which have object datatype 
#It returns very long list, so I am compelled to comment it out
#for column in df.select_dtypes(include=['object']).columns:
 #   print(f"Unique values in {column}: {df[column].unique()}")

In [32]:
#Exporting dataframe to csv file
df.to_csv('crimes.csv',index=False)